In [ ]:
#@title Github Package Link { display-mode: "form" }
!git clone https://github.com/asoledad33/pbstats.git

In [ ]:
#@title Package Install { display-mode: "form" }
! pip install pbstats/

In [1]:
# Make sure you run from the top level pbstats directory
!pwd
%cd ..

/home/rmegret/pbstats

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import json
import pbstats as pbs

video = 'data/mango_180202-080200-20220401_150947_Tracks.json'

with open(video, 'r') as file:
    rawData = json.loads(file.read())

In [7]:
pbs.extract.test()

test

In [6]:
#@title Visits Table { display-mode: "form" }
data_table = pbs.extract_data(rawData)

tata

,Pollinator,Time,Frame,p_cx,p_cy,Visit Duration (s),Distance,Flower,f_cx,f_cy
3,P3,11.65,233,1673.804,462.306,NaN,10.023254,F318,1672.404,452.381
4,P3,17.20,344,1718.606,447.414,NaN,14.128786,F316,1725.310,434.977
5,P3,18.85,377,1760.034,484.364,NaN,5.439434,F321,1760.430,478.939
6,P3,19.85,397,1782.152,516.480,NaN,17.562211,F309,1796.314,526.866
8,P3,27.95,559,1898.622,638.524,NaN,36.179415,F295,1862.445,638.942
9,P3,28.20,564,1911.781,632.519,NaN,46.510680,F290,1928.716,675.837
11,P3,28.50,570,1940.269,618.221,NaN,24.101207,F286,1958.433,634.062
15,P6,192.30,3846,1459.403,666.258,NaN,16.252587,F39,1449.081,678.812

Warning: Some data is invalid

In [18]:
#@title Visits Statistics { display-mode: "form" }
statistics = pbs.show_statistics_table(data_table)
statistics

       Visit Duration (s)
                     mean count
Flower
F100             5.650000     1
F113             0.600000     1
F286             1.400000     2
F290                  NaN     0
F295             0.900000     1
F308             2.150000     1
F309                  NaN     0
F316                  NaN     0
F318             4.433333     3
F321                  NaN     0
F322             1.200000     1
F324             3.725000     2
F325             5.075000     2
F336            14.150000     1
F39              9.950000     1
F82              1.850000     1
F91              7.850000     1